<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">SymForum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                    <a {% if app.request.attributes.get('_route') == "home" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('home') }}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a {% if app.request.attributes.get('_route') == "forum" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('forum') }}">Forum</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer mt-auto">
            <div class="container p-4">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <p class="title-footer mb-3">Résumé</p>
                        <p class="footer-color">
                            Je suis en train de suivre une reconversion passionnante dans le développement web. Après avoir terminé une formation à distance en tant que développeur web, je continue de développer mes compétences en créant des sites web. J'aime apprendre, mettre en pratique mes connaissances et développer mes compétences pour devenir toujours plus compétent.
                        </p>
                    </div>
                    <div class="footer-section-info col-lg-2 col-md-6 mb-4">
                        <p class="title-footer mb-3">Infos / Contact</p>
                        <ul class="footer-color footer-contact ps-0">
                            <li class="mb-1">
                                <a href="https://www.genzo.fr/Portfolio" target="_blank">
                                    <img src="{{ asset('images/icon-portfolio.png') }}" alt="portfolio logo!"/>
                                    Portfolio
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="https://github.com/GenzoWeb" target="_blank">
                                    <img src="{{ asset('images/icon-github.png') }}" alt="github logo!"/>
                                    GitHub
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="https://www.linkedin.com/in/genzoweb-gw-361aaa17a" target="_blank">
                                    <img src="{{ asset('images/icon-linkedin.png') }}" alt="linkedin logo!"/>
                                    LinkedIn
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="{{ asset('images/icon-mail.png') }}" alt="mail logo!"/>
                                    Email
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center p-3">
                © 2023 Copyright:
                <a href="https://www.genzo.fr/Portfolio">GenzoWeb</a>
            </div>
        </footer>
    </body>
</html>
